table{
	width: 100%;
	background-image: url(../img/b5.jpg);
	text-align: center;
}
#main{
	width: 100%;
}
#runpicture{
	height: 600px;
	background-image: url(../img/b2.jpg);
}
#scorestandard,#computeDemo,#echartsTest{
	border: dashed 1px;
}
#echartsTest{
	width: 100%;
	height:400px; 
	align-items: center;
}
